.fullContainer
{
    width: 100%;
    height: fit-content;
}
/* body
{
    color: rgb(40, 44, 40);
} */

/* p,h1,h2,h3,h4,h5, .popUpText 
{
    color: rgb(78, 85, 78);
    color: red;
    
} */

.headerImage
{
    position: relative;
    height: fit-content;
}
#headImage
{
    width: 100%;
    height: 450px;
}
.headerImage:hover .popUpDiv
{
    visibility: visible;
    opacity: 0.7;
}
.popUpDiv
{
    position: absolute;
    width: 100%;
    top: 300px;
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 1s;
}
.popUpText
{
    font-family: sans-serif;
    font-size: 25px;
    /* color: darkslategrey; */
}
.popUpTextSmall
{
    font-family: sans-serif;
    font-size: 15px;
 
}
#profile
{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    /* color: darkslategrey; */
}
#profilePic
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#profileText
{
    font-family: sans-serif;
    /* color: darkslategrey; */
    margin-top: 10px;
}
.projectContainer
{
  
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-align: center;
    margin: auto;
   
}
.contentHolder
{
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    
}
.projImg
{
    width: 150px;
    height: 150px;
    border-radius: 30%;
}

.projDescription
{
    width: 100%;
    height: fit-content;
   
    text-align: center;
    font-size: 12px;
    padding: 5px;
    opacity: 0;
    transition: opacity 1s;
 

}

#row1:hover .projDescription
{
    visibility: visible;
    opacity: 0.7;
}
#row2:hover .projDescription
{
    visibility: visible;
    opacity: 0.7;
}
#row3:hover .projDescription
{
    visibility: visible;
    opacity: 0.7;
}

@media only screen and (max-width: 400px)
{ .fullContainer
    {
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }
}

.photoSection
{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    /* color: darkslategrey; */
}

.myPics
{
    width: fit-content;
    height: fit-content;
}

.imageContainer
{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0;
    display: inline-block;
}
#myPic1
{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

table
{
    height:543px;    
    border-collapse: collapse;
}
#colorPickerDiv
{
    width: fit-content;
    height: fit-content;
    margin: auto;
}


